
/* common shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border: none;
    border-radius: 5px;
    background: #FD6E0A;

    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    cursor: pointer;
}
/* nav related styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    padding-right: 50px;
}

nav a {
    text-decoration: none;

    color: #474747;
    font-size: 20px;
}

/* header related styles */

.header {
    background: #ffeadb;
    background-image: url("../images/header_bg.png");

    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0 150px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 500px;
}

.bn-greeting {
    color:  #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}

.bn-heading {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-content > p{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

.btn-contact {
    background-color: transparent;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    margin-left: 30px;
}

/* main section styles */
main {
    max-width: 1140px;
    display: grid;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}
/* about section styles */

.about {
    margin: 130px 0;
    padding: 130px;
    background-color: #ffeadb;
    border-radius: 10px;
}

.section-title {
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-desc {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* about information */

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.info-desc {
    color: #222;
    font-size: 20px;
    font-weight: 700;
}


/* skills related styles */
#what-i-do-desc {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.skill {
    padding: 30px;
    background: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.15);
}
.skill-desc {
    
}